*{
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(20deg, rgba(255, 52, 52, 1) 28%, rgba(254, 220, 64, 1));
  height: 64px;
  width: 100%;
  vertical-align: middle;
}

.header-frame {
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 7px;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.header-right {
  display: flex;
  width: 500px;
  justify-content: end;
  color: white;
  align-items: center;
}

.children-layout{
  max-width: 1080px;
  margin: 0 auto;
  padding: 60px 0;
}

.todo-list-table {
  width: 100%;
  border: none;
}

.list-title {
  width: 50%;
}

.list-priority,
.list-buttons {
  width: 25%;
}

.todo-priority,
.todo-buttons {
  text-align: center;
}

.create-input,
.create-textarea {
  width: 100%;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 10px;
  border: 2px solid black;
}

.todo-tr:hover {
  color: orange;
  cursor: pointer;
}

.radio{
  margin-left: 30px;
}

.create-page-bottom{
  display: flex;
  justify-content: space-between;
}

.detail-page-title,
.detail-page-detail{
  background-color: rgb(221, 221, 221);
  width: 100%;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.detail-page-detail{
  height: 360px;
}

.list-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-right: 100px;
}

.filter-frame {
  align-items: center;
}

.search-input {
  width: 360px;
  height: 18px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
}

.sign-up-form {
  margin: 100px auto;
  width: 600px;
  background-image: linear-gradient(20deg, rgb(255, 240, 240) 28%, rgb(255, 242, 182));
  border-radius: 16px;
  padding: 40px;
}

.sign-in-input {
  width: 80%;
  height: 24px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5% 5%;
}

.sign-in-button {
  display: flex;
  justify-content: space-around;
}

.icon-image{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
}

.user-email {
  margin-right: 20px;
}